/* =========Default styles============ */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1 {
  color: #0b0101;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */
.container {
  padding: 0 16px;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* ==========/Default styles/================ */

/* --Visually hidden-- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --/Visually hidden/-- */

/* ---Header---- */

.menu-nav {
  display: none;
}

.header-address {
  display: none;
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-selector {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-open-btn-icon {
  fill: #2f2f37;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/* Tablet styles header*/
@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }


  .menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-address {
    display: flex;
    margin-left: 122px;
  }
  .mobile-open-btn {
    display: none;
  }
  .link-navigation {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-navigation:focus,
.link-navigation:hover {
  color: #404bbf;
}

.header-address {
  font-style: normal;

}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  background-color: #404bbf;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  position: absolute;
  border-radius: 2px;
}
.current:hover,
.current:focus {
  color: var(--OCEAN, #404bbf);
}
.link-navigation-address {
  font-size: 12px;
  font-weight: 400;
  color: #434455;
  line-height: 116%;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-navigation-address:focus,
.link-navigation-address:hover {
  color: #404bbf;
}
.header-logo {
  margin-right: 120px;
}
/* ----/Tablet styles header/----*/
/* ---/Header/---- */
